create table `traitement_volants` (`id` bigint unsigned not null auto_increment primary key, `titre` varchar(255) not null, `description` longtext not null, `hub_id` bigint unsigned not null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci' engine = innoDB;
alter table `traitement_volants` add constraint `traitement_volants_hub_id_foreign` foreign key (`hub_id`) references `hubs` (`id`);
